# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
tf-env/

# Environment variables (IMPORTANT)
.env

# Streamlit
.streamlit/

# Uploads & outputs
uploads/
outputs/
upload_history.txt

# OS
.DS_Store
